# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pastas de dependências
backend/node_modules
frontend/node_modules

# Arquivos de ambiente (Senhas)
backend/.env

# Banco de dados e logs
backend/prisma/*.db
backend/prisma/dev.db-journal

# Pasta de build do React
frontend/dist

# Outros
.DS_Store